In [1]:
import pandas as pd

pandas的数据结构Series与Numpy的数据结构一维数组类似:<br>array只有0-n-1的索引方式，Series除了这种下标索引还可以自定义索引(即标签索引)<br>Series中数据类型不必和array数据类型必须一致一样，可混合<br>numpy的array注重底层数值计算，pandas的Series注重数值分析和处理

## numpy-1维数组与pandas-Series的相似

In [2]:
s1 = pd.Series([1,23,17,68,99])
print(s1)
print(s1.values)
s1.index

0     1
1    23
2    17
3    68
4    99
dtype: int64
[ 1 23 17 68 99]

RangeIndex(start=0, stop=5, step=1)

In [3]:
print(s1[2])
s1[1:3]

17

1    23
2    17
dtype: int64

## numpy-1维数组与pandas-Series的不同

In [4]:
s2 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s2.iloc[0])
print(s2['a'])

1
1

**注意！！在numpy中arr[0]可用下标表示，在最新pandas中可以用标签表示法s['a']表示但若要用下标表示最好别用s[0]而是用s.iloc[0]来表示！！老版本的pandas可以**

*这个就和之前我做web项目一样，在python2.0以前允许在template的html文件中用<a>以GET请求传给logout视图函数但是现在要想完成注销必须用<form>指定POST请求才可以传送给logout函数*

In [5]:
print(s2.iloc[0])

1

In [6]:
print(s2[0])

1

C:\Users\杨加春\AppData\Local\Temp\ipykernel_19148\3381675008.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s2[0])

In [7]:
s2[0]

C:\Users\杨加春\AppData\Local\Temp\ipykernel_19148\2344841457.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s2[0]

np.int64(1)

In [8]:
s2.iloc[0]

np.int64(1)

标签表示法的切片不同于下标，它是左闭右闭，并且对于切片的下标表示法无需用.iloc[]，在series中取值时s[3]3默认表示标签，所以在你没有定义整数标签时候会报错，在series中切片时候s[0:3]这里的03默认表示下标，这也是你不加iloc不报错原因

In [9]:
s2['a':'c']

a    1
b    2
c    3
dtype: int64

In [10]:
s2[0:2]

a    1
b    2
dtype: int64

对于Series的元素可以提取指定顺序的切片

In [11]:
s2[['a','c','e']]

a    1
c    3
e    5
dtype: int64

In [12]:
s2[[0,2,4]]

C:\Users\杨加春\AppData\Local\Temp\ipykernel_19148\3237947970.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s2[[0,2,4]]

a    1
c    3
e    5
dtype: int64

In [13]:
s2.iloc[[0,2,4]]

a    1
c    3
e    5
dtype: int64

在Series中因为你既可以用下标进行索引，也可以用标签进行索引，其中标签索引你可用字母作为标签，也可以用整数作为标签，那么在使用series[3]时候pandas就无法确定你这3是指索引3还是标签3，容易造成误会所以我不建议你在series中取值用 series[数字]这种方法，而是在他俩中间加个loc,iloc。series.loc[3]表示3为标签，series.iloc[3]表示3是下标！

**总结：在series中除了自带的下标索引外，你还可以进行标签索引，其中字母，整数均可以作为标签。当你取值时候s[3]3默认表示为整数标签，此时你若未定义整数标签时会报错，当你切片时s[0:3]03默认表示下标。那如果你就想用整数标签来切片，就想用下标来取值，此时为了避免混乱可以用iloc表示下标，loc表示标签,还有要注意的是，只要是对切片采用标签索引不管整数还是字母都是左闭右闭，下标索引才是左闭右开！,建议你无论怎样 在series进行切片还是取值时候即使你知道它默认是什么也要加上iloc与loc!!**

In [14]:
sss = pd.Series([0,1,2,3,4],index=[1,2,3,4,5])

In [15]:
sss[1]

np.int64(0)

In [16]:
sss.iloc[1]

np.int64(1)

In [17]:
sss[1:3]

2    1
3    2
dtype: int64

In [18]:
sss.loc[1:3]

1    0
2    1
3    2
dtype: int64

*创建Series的另外一种方法*

`s4 = pd.Series([1,2,3,4],index=['a','b','c','d'])`等价于 `s4 = pd.Series({'a':1,'b':2,'c':3,'d':4})`dict的key变为标签

In [19]:
s4 = pd.Series({'a':1,'b':2,'c':3,'d':4})

In [20]:
s4['a']

np.int64(1)

In [21]:
s4.iloc[0]

np.int64(1)

In [22]:
'd' in s4

True

In [23]:
s4.loc['b'] = 100

In [24]:
s4.loc['b']

np.int64(100)

In [25]:
s4.iloc[0] = 10000

In [26]:
s4.loc['a']

np.int64(10000)

Series的筛选值操作同numpy的array

In [27]:
s4[(s4>1) & (s4<4)]

c    3
dtype: int64

**TIPS 在pandas 的Series中涉及索引时无论是下标索引还是标签索引你进行相关取值切片操作时候你想通过下标你就加上iloc,你想通过标签你就加上loc!!养成习惯**

# 练习1

导入pandas的语句，并且给pandas别名为pd。

In [28]:
import pandas as pd

创建一个叫s1的Series，里面包含元素-1.2、3.7、2.5、-8.2、6.3。创建后进行输出。

In [29]:
s1 = pd.Series([-1.2,3.7,2.5,-8.2,6.3])

打印s1的所有索引以及所有元素值。

In [30]:
print(s1.index)
print(s1.values)

RangeIndex(start=0, stop=5, step=1)
[-1.2  3.7  2.5 -8.2  6.3]

创建一个叫s2的Series，里面包含元素1、2、3、4、5，并且对应索引5、4、3、2、1。创建后进行输出。

In [31]:
s2 = pd.Series([1,2,3,4,5],index=[5,4,3,2,1])
print(s2)

5    1
4    2
3    3
2    4
1    5
dtype: int64

输出s2里按位置顺序排在第2个的元素。

In [32]:
print(s2.iloc[1])

2

输出s2里按标签对应从5到3（包括3）范围内的元素。

In [33]:
s2.loc[5:3]

5    1
4    2
3    3
dtype: int64

通过一个字典来创建Series s3。字典的键为：小李、小陈、小张、小曾、小邓，值为82、93、91、78、68。创建后进行输出。

In [34]:
s3 = pd.Series({'小李':82,'小陈':93,'小张':91,'小曾':78,'小邓':68})

In [35]:
s3

小李    82
小陈    93
小张    91
小曾    78
小邓    68
dtype: int64

小张值改为100在输出

In [36]:
s3.loc['小张'] = 100
s3

小李     82
小陈     93
小张    100
小曾     78
小邓     68
dtype: int64

输出大于80小于90的元素

In [37]:
s3[(s3>80) & (s3<90)]

小李    82
dtype: int64

In [38]:
(s3>80) & (s3<90)

小李     True
小陈    False
小张    False
小曾    False
小邓    False
dtype: bool

# 两个series的加减乘除

In [39]:
import pandas as pd

In [40]:
s1 = pd.Series([1,4,2,3,5],index=[1,3,5,7,9])

In [41]:
s2 = pd.Series([8,1,7,3,9],index=[1,2,3,5,10])

相同标签索引处1.3.5值做运算，不相同标签处赋nan，series之间运算会自动进行索引对齐

仅 s1+数 并不会改变s1中值

In [42]:
s1 + 100

1    101
3    104
5    102
7    103
9    105
dtype: int64

In [43]:
s1

1    1
3    4
5    2
7    3
9    5
dtype: int64

In [44]:
s1 + s2

1      9.0
2      NaN
3     11.0
5      5.0
7      NaN
9      NaN
10     NaN
dtype: float64

In [45]:
s1.add(s2)

1      9.0
2      NaN
3     11.0
5      5.0
7      NaN
9      NaN
10     NaN
dtype: float64

In [46]:
s1.add(s2,fill_value=0)

1      9.0
2      1.0
3     11.0
5      5.0
7      3.0
9      5.0
10     9.0
dtype: float64

**`s1.add(s2,fill_value=0)`  `s1.sub(s2,fill_value=0)`   `s1.mul(s2,fill_value=1)`   `s1.div(s2,fill_value=1)`这里的`fill_value`把s1中索引不同于s2的地方赋固定值0/1来与s2计算**

In [47]:
s1.sub(s2,fill_value=0)

1    -7.0
2    -1.0
3    -3.0
5    -1.0
7     3.0
9     5.0
10   -9.0
dtype: float64

In [48]:
s1.mul(s2,fill_value=1)

1      8.0
2      1.0
3     28.0
5      6.0
7      3.0
9      5.0
10     9.0
dtype: float64

In [49]:
s1.div(s2,fill_value=1)

1     0.125000
2     1.000000
3     0.571429
5     0.666667
7     3.000000
9     5.000000
10    0.111111
dtype: float64

# series的统计方法-describe()为独有

In [50]:
print(s1.max())
print(s1.min())
print(s1.mean())
s1.sum()

5
1
3.0

np.int64(15)

In [51]:
s1.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

# 同numpy的广播机制-每个元素都

In [52]:
s1 * 10

1    10
3    40
5    20
7    30
9    50
dtype: int64

# apply()对元素分别-apply函数不改变原series，会把原series中每一个元素放到指定函数中并把元素返回值组成新的series并返回

In [53]:
scores = pd.Series({'小明':92,'小红':67,'小刚':88,'肖邦':76,'刘龙':75})

```python

def get_grade_series(scores):
    if scores>=90:
        return 'A'
    elif scores>=80:
        return 'B'
    elif scores>=70:
        return 'C'
    else:
        return 'D'
            

```

In [54]:
def get_grade_series(scores):
    if scores>=90:
        return 'A'
    elif scores>=80:
        return 'B'
    elif scores>=70:
        return 'C'
    else:
        return 'D'

In [55]:
grades = scores.apply(get_grade_series)

In [56]:
grades

小明    A
小红    D
小刚    B
肖邦    C
刘龙    C
dtype: object

**匿名函数**

In [57]:
double_scores = scores.apply(lambda x : x*x)

In [58]:
double_scores

小明    8464
小红    4489
小刚    7744
肖邦    5776
刘龙    5625
dtype: int64

# 练习2

导入pandas的语句，并且给pandas别名为pd。

In [59]:
import pandas as pd

创建s1，包含元素 [92,67,70,88,76] 及对应索引 [“小明”,“小红”,“小杰”,“小丽”,“小华”]。创建s2，包含元素 [95,85,60,79,76] 及对应索引 [“小明”,“小杰”,“小宇”,“小娟”,“小彤”]。创建后打印s1和s2。

In [60]:
s1 = pd.Series([92,67,70,88,76],index= ['小民','小红','小杰','小丽','小华'])
s2 = pd.Series([95,85,60,79,76],index= ['小民','小杰','小宇','小娟','小彤'])
print(s1)
s2

小民    92
小红    67
小杰    70
小丽    88
小华    76
dtype: int64

小民    95
小杰    85
小宇    60
小娟    79
小彤    76
dtype: int64

让s1和s2的相同索引元素之间进行相加，若无法找到对应索引的值则将缺失值用0代替。

In [61]:
s1.add(s2,fill_value=0)

小丽     88.0
小华     76.0
小娟     79.0
小宇     60.0
小彤     76.0
小杰    155.0
小民    187.0
小红     67.0
dtype: float64

输出s1的统计学相关数据，包括最大值、最小值、平均值、标准差。

In [62]:
print(s1.max())
print(s1.min())
print(s1.mean())
s1.describe()

92
67
78.6

count     5.000000
mean     78.600000
std      10.990905
min      67.000000
25%      70.000000
50%      76.000000
75%      88.000000
max      92.000000
dtype: float64

把s1更新为所有数字均加5并输出

In [63]:
s1 = s1 + 5
s1

小民    97
小红    72
小杰    75
小丽    93
小华    81
dtype: int64

根据以下规则，输出一个新的Series，包含s1里各个学生成绩所对应的等级。<br>
• A: 90分及以上
• B: 80分及以上 - 90分
• C: 70分及以上 - 80分
• D: 60分及以上 - 70分
• 不及格：60分以下

In [64]:
def get_grade(a):
    if a>=90:
        return 'A'
    elif a>=80:
        return 'B'
    elif a>=70:
        return 'C'
    elif a>=60:
        return 'D'
    else:
        return '不及格'

In [65]:
grades = s1.apply(get_grade)
grades

小民    A
小红    C
小杰    C
小丽    A
小华    B
dtype: object

# pandas-series/dataframe numpy-array 与数据分析关系

Pandas的Series和DataFrame是数据清洗的核心工具，NumPy是其底层支撑，Pandas（Series/DataFrame)是数据清洗的“操作界面”数据清洗的核心动作（如处理缺失值、去重、格式统一），几乎都通过Pandas实现而NumPy是Pandas的“动力引擎”<br>
Pandas的Series和DataFrame本质上基于NumPy Array构建，底层的数值计算（如求均值填充缺失值、数值筛选）都依赖NumPy的高效运算能力。
比如用Series.mean()填充缺失值时，背后其实是NumPy在计算平均值。<br>数据清洗是“任务目标”，Pandas（Series/DataFrame）是“做事的工具”，NumPy是“工具的底层动力”。<br>NumPy 与 Array：Array（NumPy数组）是NumPy库的“核心载体”，NumPy的所有功能（如数值计算、维度操作）都围绕Array展开，二者是“库”与“核心数据结构”的绑定关系。 Pandas 与 Series/DataFrame：Series（一维带标签数据）和DataFrame（二维带标签表格）是Pandas库的“核心工具”，Pandas的数据分析、清洗功能（如缺失值处理、筛选）均通过这两者实现，二者是“库”与“核心数据结构”的绑定关系。 NumPy 与 Pandas：Pandas是“基于NumPy封装的高级库”，Series/DataFrame的底层数据存储依赖Array，Pandas的数值计算（如求均值、排序）也依赖NumPy的高效引擎，二者是“底层支撑”与“上层应用”的关系。